﻿@model ViewModels.Home.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            Garage Count
        </div>
        <div class="panel-body">
            We have @Model.Garage.Count vehicles in the Garage.
        </div>
    </div>
</div>
<div class="row row">
    <table class="table table-condensed table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Fuel</th>
                <th>Distance Travelled</th>
                <th>Actions</th>
                <th>Results</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var vehicle in Model.Garage)
            {
                <tr>
                    <td>@vehicle.Value.Name</td>
                    <td>@vehicle.Value.Fuel</td>
                    <td>@vehicle.Value.DistanceTravelled</td>
                    <td>
                        <a class="btn btn-primary" asp-action="GetJson" asp-route-id="@vehicle.Key" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#updated-@vehicle.Key">JSON me!</a>
                        <a class="btn btn-default" asp-action="Beep" asp-route-id="@vehicle.Key" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#updated-@vehicle.Key">Beep</a>
                    </td>
                    <td id="updated-@vehicle.Key"></td>
                </tr>
            }
        </tbody>
    </table>
</div>